openapi: 3.0.3
info:
  title: Award Force API
  description: |
    The Award Force API allows you to pass data from the Award Force application to other websites or applications.

    With our API, you can list, get, create, update, delete and upload many different resources including:
    - Account
    - Assignment
    - Attachment
    - Category
    - Chapter
    - Contributor
    - Entry
    - Entry (realtime)
    - Field
    - File
    - Leaderboard
    - Order
    - Review task
    - Round
    - Score set
    - Season
    - Tax
    - User
    - Webhook

    ## Authentication

    Access to the Award Force API is secured via API Keys. You may generate as many keys as you like yet each key belongs to the one account. The scope of the key determines the permissions:
    - **Read only** - for read endpoints only
    - **Read / Write** - for read and write endpoints

    API keys are passed via the `x-api-key` header in all requests.
  version: 1.0.0
  contact:
    email: support@awardforce.com
servers:
  - url: https://api.cr4ce.com
    description: Production API server

security:
  - ApiKeyAuth: []

tags:
  - name: Account
    description: Account operations
  - name: Assignment
    description: Assignment operations
  - name: Entry
    description: Entry operations

paths:
  /account:
    get:
      summary: Get account
      description: Returns the account's information based on the API key used in the header.
      operationId: getAccount
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/ApiLanguageHeader'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example:
                created: "2020-01-01T00:00:00Z"
                domains:
                  - "account-domain.awardsplatform.com"
                global_id: "ae7dd084-f39d-4740-8b6b-cb50da1da0c3"
                languages:
                  - code: "en_GB"
                name: "Awards account"
                owner:
                  slug: "rnkPoEgd"
                  link: "https://api.cr4ce.com/user/rnkPoEgd"
                  name: "Test Name"
                  first_name: "Test"
                  last_name: "Name"
                product: "Pro"
                region: "au"
                slug: "pbaNDdMk"
                timezone: "EuropeLondon"
                updated: "2020-01-01T00:00:00Z"

  /assignment:
    post:
      summary: Create assignment
      description: Create a new assignment.
      operationId: createAssignment
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssignmentRequest'
            example:
              score_set: "lQooYAjX"
              entries:
                - "gGRzDQxg"
              judges:
                - "AqkYpvoL"
              rounds:
                - "vaYkDloO"
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                description: No response body

  /assignment/{slug}:
    get:
      summary: Get assignment
      description: Returns an assignment identified by its slug.
      operationId: getAssignment
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/SlugPathParam'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/ApiLanguageHeader'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
              example:
                category:
                  slug: "gpGbzgZX"
                  link: "https://api.cr4ce.com/category/gpGbzgZX"
                  name:
                    en_GB: "Wild birds"
                    pl_PL: ""
                chapter:
                  slug: "vngWgXXg"
                  link: "https://api.cr4ce.com/chapter/vngWgXXg"
                  name:
                    en_GB: "Quinn Gay"
                    pl_PL: "Quinn Gay"
                comments:
                  judging:
                    - slug: "exdgkZNm"
                      comment: "Example comment"
                      created_at: "2025-03-06T08:22:52Z"
                      updated_at: "2025-03-06T08:22:52Z"
                      user:
                        slug: "lvrNnbdw"
                        link: "https://https://api.awardforce.cx/user/lvrNnbdw"
                        name: "John Sony"
                        first_name: "John"
                        last_name: "Sony"
                  abstention: []
                  conflict: []
                  criteria: []
                created: "2024-07-30T01:43:42Z"
                entry:
                  slug: "lxPKQGOv"
                  link: "https://api.cr4ce.com/entry/lxPKQGOv"
                  title: "Puffins"
                form: "byJorWvj"
                judge:
                  slug: "AqkYpvoL"
                  link: "https://api.cr4ce.com/judge/AqkYpvoL"
                  name: "John Sony"
                method: "Manual"
                panels: []
                role: null
                rounds:
                  - slug: "vaYkDloO"
                    link: "https://api.cr4ce.com/round/vaYkDloO"
                    name:
                      en_GB: "Reviewing"
                      pl_PL: "Recenzowanie"
                score_set:
                  slug: "lQooYAjX"
                  link: "https://api.cr4ce.com/score-set/lQooYAjX"
                  name:
                    en_GB: "TopPick"
                    pl_PL: ""
                slug: "lxPKQGOvAqkYpvoLlQooYAjXJ"
                status: "To be scored"
                updated: "2024-08-08T00:45:48Z"

    delete:
      summary: Delete assignment
      description: Delete an existing assignment.
      operationId: deleteAssignment
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/SlugPathParam'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/ApiLanguageHeader'
      responses:
        '204':
          description: No Content

  /entry/{slug}/recuse:
    put:
      summary: Recuse assignment
      description: Recuse a judge from an existing assignment.
      operationId: recuseAssignment
      tags:
        - Entry
      parameters:
        - name: slug
          in: path
          description: Entry slug
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/ApiLanguageHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecuseAssignmentRequest'
            example:
              judge: "AqkYpvoL"
              score_set: "lQooYAjX"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: No response body

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Used for authentication and authorisation

  parameters:
    SlugPathParam:
      name: slug
      in: path
      description: Assignment slug
      required: true
      schema:
        type: string

    AcceptHeader:
      name: Accept
      in: header
      description: Defines the response format
      required: true
      schema:
        type: string
        default: application/json

    ApiLanguageHeader:
      name: x-api-language
      in: header
      description: Defines expected language
      required: false
      schema:
        type: string

  schemas:
    Account:
      type: object
      properties:
        created:
          type: string
          format: date-time
        domains:
          type: array
          items:
            type: string
        global_id:
          type: string
          format: uuid
        languages:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
        name:
          type: string
        owner:
          $ref: '#/components/schemas/UserReference'
        product:
          type: string
        region:
          type: string
        slug:
          type: string
        timezone:
          type: string
        updated:
          type: string
          format: date-time

    Assignment:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/CategoryReference'
        chapter:
          $ref: '#/components/schemas/ChapterReference'
        comments:
          $ref: '#/components/schemas/AssignmentComments'
        created:
          type: string
          format: date-time
        entry:
          $ref: '#/components/schemas/EntryReference'
        form:
          type: string
        judge:
          $ref: '#/components/schemas/JudgeReference'
        method:
          type: string
        panels:
          type: array
          items:
            type: object
        role:
          type: string
          nullable: true
        rounds:
          type: array
          items:
            $ref: '#/components/schemas/RoundReference'
        score_set:
          $ref: '#/components/schemas/ScoreSetReference'
        slug:
          type: string
        status:
          type: string
        updated:
          type: string
          format: date-time

    AssignmentComments:
      type: object
      properties:
        judging:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
        abstention:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
        conflict:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
        criteria:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              comments:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'

    Comment:
      type: object
      properties:
        slug:
          type: string
        comment:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/UserReference'

    CategoryReference:
      type: object
      properties:
        slug:
          type: string
        link:
          type: string
          format: uri
        name:
          type: object
          additionalProperties:
            type: string

    ChapterReference:
      type: object
      properties:
        slug:
          type: string
        link:
          type: string
          format: uri
        name:
          type: object
          additionalProperties:
            type: string

    EntryReference:
      type: object
      properties:
        slug:
          type: string
        link:
          type: string
          format: uri
        title:
          type: string

    JudgeReference:
      type: object
      properties:
        slug:
          type: string
        link:
          type: string
          format: uri
        name:
          type: string

    RoundReference:
      type: object
      properties:
        slug:
          type: string
        link:
          type: string
          format: uri
        name:
          type: object
          additionalProperties:
            type: string

    ScoreSetReference:
      type: object
      properties:
        slug:
          type: string
        link:
          type: string
          format: uri
        name:
          type: object
          additionalProperties:
            type: string

    UserReference:
      type: object
      properties:
        slug:
          type: string
        link:
          type: string
          format: uri
        name:
          type: string
        first_name:
          type: string
        last_name:
          type: string

    CreateAssignmentRequest:
      type: object
      required:
        - score_set
        - entries
        - judges
        - rounds
      properties:
        score_set:
          type: string
          description: Score Set slug
        entries:
          type: array
          items:
            type: string
          description: List of Entry slugs
        judges:
          type: array
          items:
            type: string
          description: List of Judge slugs
        rounds:
          type: array
          items:
            type: string
          description: List of Round slugs

    RecuseAssignmentRequest:
      type: object
      required:
        - judge
      properties:
        judge:
          type: string
          description: Judge slug
        score_set:
          type: string
          description: Score Set slug
